
<h1>Login!</h1>

<form class="" action='/login' method='post'>
  <input type="text" name='username' placeholder='username'>
  <input type="password" name='password' placeholder='password'>
  <input type="submit" name="" value="submit">

        <% if(!currentUser){ %>
          <li><a href="/register">Signup</a></li>
        <% }else{ %>
          <li>You are Already Login</li>
        <% } %>
</form>


<% include ./partials/footer %>
